/******DOCUMENT STYLES******/
/***************************/
::-webkit-scrollbar {
  display: none;
}

body.lock {
  overflow: hidden;
}

#mainWrap {
  position: fixed;
}

.scroller {
  width: 100vw;
}

.scroller div {
  width: 100%;
  height: 100vh;
}

/*****HEADER*****/
/****************/
header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header span {
  width: 76.5%;
  height: 100%;
}

header p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

header p:nth-of-type(1) {
  top: 3.5%;
  left: 3%;
}

header p:nth-of-type(2) {
  top: 3.5%;
  right: 3%;
}

aside {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 27vh;
  left: 3%;
  z-index: 300;
}

aside .pic-wrap {
  width: 80px;
  height: auto;
  position: relative;
  margin-left: 15px;
}

aside .pic-wrap div {
  position: absolute;
  width: 100%;
}

aside .pic-wrap div.hide {
  visibility: hidden;
}

aside .pic-wrap div:nth-of-type(2) {
  top: 8%;
}

aside .pic-wrap div:nth-of-type(3) {
  top: 16%;
}

aside .pic-wrap div:nth-of-type(4) {
  top: 24%;
}

aside .pic-wrap div:nth-of-type(5) {
  top: 32%;
}

aside .pic-wrap div:nth-of-type(6) {
  top: 40%;
}

aside .pic-wrap div:nth-of-type(7) {
  top: 48%;
}

aside .pic-wrap div:nth-of-type(8) {
  top: 56%;
}

aside .pic-wrap div:nth-of-type(9) {
  top: 64%;
}

aside .pic-wrap div:nth-of-type(10) {
  top: 72%;
}

aside .pic-wrap div:nth-of-type(11) {
  top: 80%;
}

aside .pic-wrap div:nth-of-type(12) {
  top: 88%;
}

aside .pic-wrap div img {
  width: 100%;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside li {
  margin-bottom: 9px;
}

aside li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: .9rem;
}

/*****SLIDES*****/
/****************/
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.flex-contain {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-contain-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.flex-contain-vid {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flex-contain-vid h2 {
  position: absolute;
  z-index: 300;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 5rem;
  color: #fff;
  margin: 0 auto;
}

.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-container video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flex-contain-img div {
  width: 25vw;
  height: 36.1vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25%;
}

.flex-contain-img p {
  position: absolute;
  bottom: -35px;
  right: 0;
  font-family: 'Muli', sans-serif;
  font-size: .7rem;
  color: #999;
}

.flex-contain-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

/*  s l i d e - 1 */
.slide-1 {
  overflow: hidden;
  position: relative;
}

.slide-1 img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-wrap {
  position: relative;
  height: 100%;
  width: 100vw;
}

.image-wrap h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 auto;
}

/*  s l i d e - 2 */
.slide-2 {
  background: #efefef;
  display: block;
  overflow: hidden;
}

.slide-2 p {
  width: 58%;
  font-size: 2.3rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: center;
  line-height: 140%;
}

.slide-2 p:first-of-type {
  margin-top: 13%;
}

.slide-2 p:nth-of-type(2) {
  margin-top: 5%;
}

/*  s l i d e - 15 */
.slide-15 {
  background: #efefef;
  display: block;
  overflow: hidden;
}

.slide-15 p {
  width: 48%;
  font-size: 2.3rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: center;
  line-height: 140%;
}

.slide-15 p:first-of-type {
  margin-top: 18%;
}

.slide-15 p:nth-of-type(2) {
  margin-top: 3%;
}
/*# sourceMappingURL=App.css.map */