/******DOCUMENT STYLES******/
/***************************/
::-webkit-scrollbar {
  display: none;
}

html {
  position: absolute;
  -webkit-transition: top 1.5s cubic-bezier(0.42, 0, 0, 1.07);
  transition: top 1.5s cubic-bezier(0.42, 0, 0, 1.07);
}

#mainWrap {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
  transition: transform .8s ease-in-out, -webkit-transform .8s ease-in-out;
  position: fixed;
}

.scroller {
  background-color: blue;
  width: 100vw;
}

/*****HEADER*****/
/****************/
header {
  position: absolute;
  z-index: 100;
}

header p {
  position: fixed;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
}

header p:nth-of-type(1) {
  top: 3.5%;
  left: 3%;
}

header p:nth-of-type(2) {
  top: 3.5%;
  right: 3%;
}

aside {
  position: fixed;
  top: 27%;
  left: 3%;
  z-index: 300;
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside li {
  margin-bottom: 9px;
}

aside li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: .9rem;
}

/*****SLIDES*****/
/****************/
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
}

.flex-contain {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flex-contain-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.flex-contain-vid {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flex-contain-vid h2 {
  position: absolute;
  z-index: 300;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 5rem;
  color: #fff;
  margin: 0 auto;
}

.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-container video {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.flex-contain-img div {
  width: 25vw;
  height: 36.1vw;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25%;
}

.flex-contain-img p {
  position: absolute;
  bottom: -35px;
  right: 0;
  font-family: 'Muli', sans-serif;
  font-size: .7rem;
  color: #999;
}

.flex-contain-img img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

/*  s l i d e - 1 */
.slide-1 {
  overflow: hidden;
  position: relative;
}

.slide-1 img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.image-wrap {
  position: relative;
  height: 100%;
  width: 100vw;
}

.image-wrap h1 {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0 auto;
}

/*  s l i d e - 2 */
.slide-2 {
  background: #efefef;
  display: block;
  overflow: hidden;
}

.slide-2 p {
  width: 58%;
  font-size: 2.3rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: center;
  line-height: 140%;
}

.slide-2 p:first-of-type {
  margin-top: 13%;
}

.slide-2 p:nth-of-type(2) {
  margin-top: 5%;
}

/*  s l i d e - 15 */
.slide-15 {
  background: #efefef;
  display: block;
  overflow: hidden;
}

.slide-15 p {
  width: 48%;
  font-size: 2.3rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  text-align: center;
  line-height: 140%;
}

.slide-15 p:first-of-type {
  margin-top: 18%;
}

.slide-15 p:nth-of-type(2) {
  margin-top: 3%;
}
/*# sourceMappingURL=App.css.map */